<html>
<head>

<link rel="stylesheet" type="text/css" href="css/loginstyle.css"/>
</head>

<body>

  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with</label>
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">
                    Snippets Management</p>
                <form class="login" action="/login" method="POST" >
                <input type="text" name="username" placeholder = "username" />
                <input type="password" name="password" placeholder = "password"/>
                <input type="submit" value="Log In" class="btn btn-success btn-sm" />
                
                <div class="col-md-6 forgot-pass-content"><a href = "register" class="col-md-6 forgot-pass-content"> Register an Account </a></div>
                </form>

            </div>
        </div>
    </div>
</div>

</body>

</html>
