<html>
<head>
<link rel="stylesheet" type="text/css" href="css/registerstyle.css"/>
</head>

<body>
  <div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="wrap">
                <p class="form-title">
                    Registration</p>
                <form class="register" action="/register" method="POST" >
                <input type="text" name="username" placeholder = "username" />
                <input type="password" name="password" placeholder = "password"/>
                <input type="email" name="email" placeholder = "email"/>
                <input type="submit" value="Register" class="btn btn-success btn-sm" />

                </form>

            </div>
        </div>
    </div>
  </div>

</body>

</html>
