<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/snippetsstyle.css"/>
</head>
<body>
<div class = "container">
  <div class = "headerbox">

    <div class = "header">

      <div class = "headerTitleBox"> <a href = "renderSnippets"> See Your Snippets  </a> </div>
      <div class = "headerTitleBox"> <a href = "uploadNewSnippets"> Upload New Snippets </a></div>
    </div>
    <div class = "userstatus">
      <div class = "currentUser"> Current User: {{author}} </div>
      <div class = "currentUser"><a href = "logout"> Logout </a> </div>
    </div>
  </div>

  <div class = "snippetsplace">
    <div>
      <p> {{author}}'s Snippets </p>

      <ul>
        {{#snippets}}
          <li>
           <p>Title: {{title}}</p>
           <p>Author: {{author}}</p>
           <p>Tags: {{tag}}</p>
          </li>

          <form action="/snippetDetails" method="POST">
             <input type="hidden" name="snippetId" value="{{_id}}" />
             <input type="submit" value="Details" />
          </form>

      {{/snippets}}
      </ul>
    </div>
  </div>
</div>
</body>


</html>
